<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">GREEN</a>
            </div>

            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
           
        </div>
       
    </nav>

    </a>
  </div>
</div>


<div class="home1">
<div id="menu">
<div id="mod1"><a href="#homa2" class="btn btn-xs"><%= image_tag("module1.png" ) %></a></div>
<div id="mod1"><a href="#homa3" class="btn btn-xs"><%= image_tag("module2.png" ) %></a></div>
<div id="mod1"><a href="#homa4" class="btn btn-xs"><%= image_tag("module3.png" ) %></a></div>
<div id="mod1"><a href="#homa5" class="btn btn-xs"><%= image_tag("module4.png" ) %></a></div>
<div id="mod1"><a href="g" class="btn btn-xs"><%= image_tag("module5.png" ) %></a></div>
<div id="mod1"><a href="g" class="btn btn-xs"><%= image_tag("module6.png" ) %></a></div>
<div id="mod1"><a href="g" class="btn btn-xs"><%= image_tag("module7.png" ) %></a></div>

</div>
</div>
<section id="homa2" class="home2">
</section>

<section id="homa3" class="home3">
</section>
<section id="homa4" class="home4">
</section>
<section id="homa5" class="home5">
</section>
<div class="containeri">
  <br>
  <div class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
     <%= image_tag("farm.jpg" ,  height: '50%', width: '100%' ) %>
        
      </div>

      <div class="item">
     <%= image_tag("tractor.jpg" ,  height: '50%', width: '100%' ) %>
      </div>
    
      <div class="item">
      <%= image_tag("irigation.jpg" ,  height: '50%', width: '100%' ) %>
      </div>

      <div class="item">
       <%= image_tag("machine.jpg" ,  height: '50%', width: '100%' ) %>
      </div>
    </div>
</div>
   
