
<div class="home" id="home">
<div id="menu">

<div id="mod1"><a href="#home1" class="btn btn-xs"><%= image_tag("module5.png" ) %></a></div>
<div id="mod1"><a href="#home2" class="btn btn-xs"><%= image_tag("module2.png" ) %></a></div>
<div id="mod1"><a href="#home3" class="btn btn-xs"><%= image_tag("module3.png" ) %></a></div>
<div id="mod1"><a href="#home4" class="btn btn-xs"><%= image_tag("module4.png" ) %></a></div>
<div id="mod1"><a href="#home5" class="btn btn-xs"><%= image_tag("module1.png" ) %></a></div>
<div id="mod1"><a href="#home6" class="btn btn-xs"><%= image_tag("module6.png" ) %></a></div>
<div id="mod1"><a href="#home7" class="btn btn-xs"><%= image_tag("module7.png" ) %></a></div>
</div>
</div>

<div id="home1">
<h1 align="center" style="color:#ffffff; font-family:Allema;padding-top:80px;">Welocome Horticulture Crops</h1>
<div class="homecrops" style="padding-left:50px">
<%= link_to image_tag("fruitscrop1.jpg", height: '200', width: '200' ), horticultures_path %>
<%= link_to image_tag("vegetablescrop1.jpg", height: '200', width: '200' ), horticultures_path %>
<%= link_to image_tag("plantationcrop1.jpg", height: '200', width: '200' ), horticultures_path %><h5>
<%= link_to image_tag("flowercrop1.jpg", height: '200', width: '200' ), horticultures_path %>
<%= link_to image_tag("spicecrop1.jpg", height: '200', width: '200' ), horticultures_path %>

</div>
</div>

<div id="home2">
<div class="nav navbar-nav" style="padding-left:180px;margin-top:-300px;">
<h1 style="color:#ffffff; font-family:Allema;">Welocome Agriculture Machinary</h1>
                    <li>
                        <%= link_to "Machinaries", root_path , class: 'btn btn-default btn-lg' %>
                    </li>
                    
                    <li>
                        <%= link_to "Crop List", root_path , class: 'btn btn-default btn-lg' %>
                    </li>
                    <li>
                        <%= link_to "Crop List", root_path , class: 'btn btn-default btn-lg' %>
                    </li>
                    <li>
                        <%= link_to "Crop List", root_path , class: 'btn btn-default btn-lg' %>
                    </li>
</div>
</div>
<div id="home3"></br></br></br></br></br>

<div class="nav navbar-nav" style="padding-left:180px;"></br></br>
                    
                    <li>
                        <%= link_to "Crop List", agricultures_path , class: 'btn btn-default btn-lg' %>
                    </li>
                    
                    <li>
                        <%= link_to "Crop List", agricultures_path , class: 'btn btn-default btn-lg' %>
                    </li>
                    <li>
                        <%= link_to "Crop List", agricultures_path , class: 'btn btn-default btn-lg' %>
                    </li>
                    <li>
                        <%= link_to "Crop List", agricultures_path , class: 'btn btn-default btn-lg' %>
                    </li>
</div>
</div>
<div id="home4"><div class="home11"></div></div>

<div id="home5"></br></br></br></br>
<h1 style="color:#ffffff; font-family:Allema;">Welcome Agriculture Crop</h1>
<div class="nav navbar-nav" style="padding-left:180px;">
                    <li>
                        <%= link_to "Vegetable Crops", agricultures_path , class: 'btn btn-default btn-lg' %>
                    </li>
                    
                    <li>
                        <%= link_to "Fruit Crops", root_path , class: 'btn btn-default btn-lg' %>
                    </li>
                    <li>
                        <%= link_to "Plantation Crops", root_path , class: 'btn btn-default btn-lg' %>
                    </li>
                    <li>
                        <%= link_to "Flower Crops", root_path , class: 'btn btn-default btn-lg' %>
                    </li>
</div>
</div>

<div id="home6"><div class="home11"></div></div>
<div id="home7"><div class="home11"></div></div>

   
