<%= form_for(@horticulture) do |f| %>
  <% if @horticulture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@horticulture.errors.count, "error") %> prohibited this horticulture from being saved:</h2>

      <ul>
      <% @horticulture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :varieties %><br>
    <%= f.text_field :varieties %>
  </div>
  <div class="field">
    <%= f.label :climate %><br>
    <%= f.text_field :climate %>
  </div>
  <div class="field">
    <%= f.label :soil %><br>
    <%= f.text_field :soil %>
  </div>
  <div class="field">
    <%= f.label :seedrate %><br>
    <%= f.text_field :seedrate %>
  </div>
  <div class="field">
    <%= f.label :season %><br>
    <%= f.text_field :season %>
  </div>
  <div class="field">
    <%= f.label :fertilizer %><br>
    <%= f.text_field :fertilizer %>
  </div>
  <div class="field">
    <%= f.label :diseases %><br>
    <%= f.text_field :diseases %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
